@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
#cv-template1{
    display: none; 
}
#cv-template2{
    display: none;
}
.myimg{
    width: 200px;
}
.background1{
    background-color: rgb(240, 184, 117);
}
.background2{
    background-color: rgb(105, 243, 167);
}
.color{
    background-color: rgb(121, 181, 250);
}